@import '../../../styles/common/variables';

#top-panel-container {
  display: flex;
  flex-direction: column;
  border: 2px solid $SPOTIFY-WHITE;
  border-radius: 0.5rem;
  color: $SPOTIFY-WHITE;
  width: 40%;
  padding: 1rem;
  margin-right: 10rem;
}

#top-panel-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: $SPOTIFY-WHITE;
}
