@import '../../styles/common/variables';

.panel-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  color: $SPOTIFY-WHITE;
  background-color: #121212;
  padding: 1rem;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 0px 0px 20px rgba($SPOTIFY-BLACK, 0.3);

  &__title {
    color: $SPOTIFY-WHITE;
    font-size: 1.25rem;
    font-weight: 700;
  }
}
