@import '../../styles/common/variables';

.panel-container {
  display: flex;
  flex-direction: column;
  border: 2px solid $SPOTIFY-WHITE;
  border-radius: 0.5rem;
  color: $SPOTIFY-WHITE;
  padding: 1rem;
  flex: 1;
  height: 100%;
  overflow: auto;

  &__title {
    color: $SPOTIFY-WHITE;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
