@import '../../styles/common/variables';

.widget-container {
  display: flex;
  margin: 0.5rem 0;
  padding: 0.5rem;
  transition: all ease-out 0.18s;
  border-radius: 0.25rem;
  align-items: center;

  &:hover {
    background-color: rgba($SPOTIFY-WHITE, $alpha: 0.1);
  }

  &__number {
    font-size: 0.8rem;
    color: rgba($color: $SPOTIFY-WHITE, $alpha: 0.7);
    margin-right: 0.75rem;
  }

  &__art {
    width: 3.5rem;
    height: 3.5rem;
    background-color: $SPOTIFY-GREEN;
    margin-right: 1rem;
  }

  &__info {
    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
}
