@import '../../styles/common/variables';

.widget-container {
  display: flex;
  margin: 1rem 0;

  &__art {
    width: 100px;
    height: 100px;
    background-color: $SPOTIFY-GREEN;
    margin-right: 0.75rem;
  }

  &__info {
    a {
      color: inherit;
      text-decoration: none;
      margin-bottom: 0.1rem;

      &:hover {
        text-decoration: underline;
      }
    }

    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
}
