@import './styles/common/variables';

#container {
  display: flex;
  flex-direction: row;
}

#content {
  background: linear-gradient(90deg, #191414 0%, #2e2531 100%);
  height: 100vh;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  #panels {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
  }
}
