@import './styles/common/variables';

#container {
  background-color: $SPOTIFY-BLACK;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  #panels {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
  }

  #nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      color: $SPOTIFY-GREEN;
    }

    &__username {
      color: $SPOTIFY-WHITE;
    }
  }
}
