@import '../../../styles/common/variables';

.nav-item {
  color: $SPOTIFY-WHITE;
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  transition: all ease-out 0.18s;

  &:hover {
    background-color: rgba($SPOTIFY-WHITE, $alpha: 0.1);
    cursor: pointer;
  }

  &__icon {
    display: flex;
    margin-right: 0.5rem;
    align-self: center;
  }
}

.active {
  border-left: 2px solid $SPOTIFY-GREEN;
}
